.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/*status hover*/
.ex-1-square {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.ex-1-square:hover {
    background-color: red;
}
.ex-2-square  {
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
.ex-2-square:hover {
    width: 100%;
}
.ex-3-square {
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
.ex-3-square:hover {
    border-radius: 50%;
}
.ex-4-square {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; 
}
.ex-4-square:hover {
    opacity: 0;
}
.ex-5-square {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.ex-5-square:hover {
    transform: scale(1.5);
}
.ex-5-square:active {
    transform: scale(0.5);
}
.ex-6-img:hover {
    filter: grayscale(1);
}
.ex-7-img {
    transition-duration: 0.5s;
}
.ex-7-img:hover {
    filter: hue-rotate(90deg) opacity(.5);
}
.ex-8-img {
    transition: all 0.8s ease-in-out;
}
.ex-8-img:hover {
    filter: saturate(100%) sepia(100%);
    border-radius: 20px;
}
.ex-9-img {
    filter: blur(1px);
    transition: all 0.4s cubic-bezier(1,0,.63,.99);
}
.ex-9-img:hover {
    filter:brightness(.5) hue-rotate(45deg);
    border-radius: 50px;
    transform: scale(1.5); 
}

.ex-10-icon {
    animation-name: myAnime;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes myAnime {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover {
    animation-name: myAnimedue;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes myAnimedue {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(270deg);
    }
}
/*EX 12*/

.ex-12-button:hover .ex-12-top-white{
    animation-name: top-btn;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 4;
    animation-direction: alternate;
}
.ex-12-button:hover .ex-12-bottom-white{
    animation-name: bottom-btn;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes top-btn {
    from   { left:10%; top:-10px;}
    to  { left:60%; top:-10px;}
}
@keyframes bottom-btn {
    from   { right:20%; bottom:-10px;}
    to  { right:60%; bottom:-10px;}
}
/*/EX 12*/

/* EX13*/
.ex-13-top-white,
.ex-13-bottom-white {
    background-color: aqua;
}
/* /EX13*/